# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# env / secrets
.env
.env*.local
*.pem

# debug / misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.tsbuildinfo
next-env.d.ts

# editors
.idea/
.vscode/
*.swp
